<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart website Monitor</title>
    <link rel="stylesheet" href="<%= route %>/stylesheets/style.css">
    <link rel="stylesheet" href="<%= route %>/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="<%= route %>/stylesheets/styleinspinia.css">
    <link rel="stylesheet" href="<%= route %>/stylesheets/animate.css">
    <link rel="stylesheet" href="<%= route %>/font-awesome/css/font-awesome.css">

    <link rel="shortcut icon" href="<%= route %>/favicon.ico">
    <link rel="apple-touch-icon" href="<%= route %>/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= route %>/apple-touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= route %>/apple-touch-icon-iphone4.png">
    <%- renderCssTags(addedCss) %>
    <script src="<%= route %>/javascripts/jquery-2.1.1.js"></script>
    <script src="<%= route %>/javascripts/bootstrap.min.js"></script>
    <script src="<%= route %>/javascripts/inspinia.js"></script>
    <script src="<%= route %>/javascripts/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="<%= route %>/javascripts/plugins/pace/pace.min.js"></script>
    <script src="<%= route %>/javascripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="<%= route %>/javascripts/plugins/metisMenu/jquery.metisMenu.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    
    <script>
    var socket = io.connect(location.protocol + '//' + location.hostname);
    </script>

    <script src="<%= route %>/javascripts/moment.min.js"></script>
  </head>
  <body>
  <div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
  
                    <div class="logo-element">
                        CRC+
                    </div>
                </li>
                <li class="active">
                    <a href="<%= route %>/index"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span></a>
                   
                </li>
                <li>
                    <a href="<%= route %>/events"><i class="fa fa-diamond"></i> <span class="nav-label">Events</span></a>
                </li>
               <li>
                    <a href="<%= route %>/checks"><i class="fa fa-pie-chart"></i> <span class="nav-label">Checks</span>  </a>
                </li>
                <li>
                    <a href="<%= route %>/tags"><i class="fa fa-flask"></i> <span class="nav-label">Tags</span></a>
                </li>
                      
        </div>
    </nav>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links">

           <ul id="check_summary" class="nav-right">
              <li id="all_up" style="display:none;"><span class="label label-success">Up Websites</span><strong class="font-bold">0</strong></li>
              <li id="all_down" style="display: none;"><span class="label label-important">Down Websites</span><strong class="red">0</strong></li>
               <li id="new_events"><a href="<%= route %>/events?highlightFrom=<%= Date.now() %>"></a></li> 
          </ul> 


     
            </ul>

        </nav>
        </div>

            <div class="ibox-content">

              <section>
                <%- body %>
              </section>


            </div>





      <div class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>CRCOMM 2016</a> regularly for updates.
      </div>
    </div>

    <script>
    var nbNewEvents = 0;
    var loadedAt = new Date();
    $(document).ready(function() {
      var changeFavicon = function(red) {
        $('head link[rel="shortcut icon"]').remove()
        $('head').append('<link rel="shortcut icon" type="image/x-icon" href="/dashboard/favicon' + (red ? '_red' : '') + '.ico">')
      }
      var updateCounts = function() {
        $.getJSON('/api/checks/count', function(count) {
          if (count.total > 0) {
            $('#all_up').show().children('strong').text(count.up);
          } else {
            $('#all_up').hide();
          }
          if (count.down > 0) {
            $('#all_down').show().children('strong').text(count.down);
            changeFavicon(true);
          } else {
            $('#all_down').hide();
            if (nbNewEvents > 0) {
              changeFavicon(false);
            }
          }
          if (nbNewEvents > 0) {
            document.title = '(' + nbNewEvents +') Uptime';
          };
        });
      };
      socket.on('CheckEvent', function() {
        nbNewEvents++;
        updateCounts();
        $('#check_summary').fadeOut().fadeIn().fadeOut().fadeIn();
        $('#new_events a').html(nbNewEvents + ' new event' + (nbNewEvents > 1 ? 's' : '') + ' since ' + moment(loadedAt).format('LLL'));
      });
      updateCounts();
    });
    </script>
  </body>
</html>